@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #3c4043;
}

#menuBar {
  border-bottom: 5px solid #80add6;
}

/*The header element is displayed as a flexbox container, with the 
parent container simply being named "menu bar". */
header {
  display: flex; /* <-- Flex happens here. */
  justify-content: space-between;
  align-items: center;
  padding: 0px 5% 0px 2%;
}

.logo {
  width: 80px;
  height: 100px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;

}

.nav_links li a {
  font-family: "Anek Bangla", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

/*The li with the active class will display in a different background color than those without the tag. */
.active {
  background-color: #96b7d6;
}

.nav_links li a:not(.active) {
  background-color: #073883;

}

/*The following code calls to the div container "menuBar" and its li elements, specifically the hyperlink elements. 
These hyperlinks will apply the hover pseudo-class only to each li that is NOT affected by the "active" class, thus changing its background color.*/
.nav_links li a:hover:not(.active) {
  background-color: #0b60ba;
}

#hero-image {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/concert_banner.jpg");
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  height: 30vh;
  border-bottom: 5px solid #80add6;
  max-width: 100%;
}

#hero-content {
  font-size: 1.4rem;
  text-align: center;
  color: white;
}


.brandName {
  height: 600px;
  max-width: 100;
}


#banner {
  width: 100%;
  height: 36vh;

}

#banner img {
  width: 100%;
  /* Make the image fill the entire width of its container */
  height: 100%;
  /* Maintain aspect ratio */
}

footer {
  background-color: rgb(85, 85, 85);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p.info {
  text-align: center;
}

/* dd container */
.dropdown {
  display: block;
  position: relative;
  outline: none;
  background-color: #96b7d6;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  font-family: "Anek Bangla", sans-serif;
  font-weight: 200;
}

/* first-child PsuedoClass used for dropdown content. */
.dropdown-content div:first-child i {
  font-weight: 600;

}

/* button */
.dropbtn {
  display: inline-block;
  padding: 12px 16px;
  color: white;
  cursor: pointer;
  background-color: #96b7d6;
  transition: 0.35s ease-out;
}

.dropbtn:hover,
.dropbtn.c:hover,
.dropbtn.r:hover {
  background-color: #073883;
}

/* dd content */
.dropdown .dropdown-content {
  position: absolute;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 100000;
  background-color: #f7f7f7;
  width: 100%;
  font-size: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: 0.35s ease-out;
  font-family: "Anek Bangla", sans-serif;
  font-weight: 400;
}


/* Descendant selector is used here for the dropdown container to allow for stylization of the link that was built into the dropdown container. */
.dropdown-content .tl {
  color: #36f;
  text-decoration: none;
  border-bottom: 1px dotted #36f;
  transition: 0.35s ease-out;
}

.dropdown-content .tl:hover {
  border-bottom: 1px dotted transparent;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  visibility: visible;
  opacity: 1;
  transform: translateY(20px);
}

/* mask to close menu by clicking on the button */
.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.dropdown:focus .db2 {
  display: inline-block;
}

.dropdown .db2:focus .dropdown-content,
.dropdown-content .db3:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}

/* button gradient */
.dropbtn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(circle at 0 0, #fff 0%, #b6c8d8 5%, #9ebcd8 35%, transparent 60%);
  background-repeat: no-repeat;
  background-color: #96b7d6;
  transition: 0.35s ease-out;
}

/* show gradient backlight */
.dropdown:focus .dropbtn::before,
.dropdown:focus .dropbtn.c::before,
.dropdown:focus .dropbtn.r::before {
  background-color: #80add6;
}

.dropdown:focus {
  z-index: 1;
}

.dropdown:focus .dropbtn {
  background: none;
}

/* icon hamburger */
.dropbtn::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 3px;
  margin-left: 10px;
  border-top: 2px solid #fff;
  border-bottom: 7px double #fff;
}

.dropdown:focus .dropbtn::after {
  height: 0;
  border-bottom: 0;
  margin-bottom: 4px;
}

/* icon content */
.dropbtn.i2::after {
  content: "";
  display: inline-block;
  border: 0;
  width: 15px;
  height: 12px;
  margin-left: 10px;
  background:
    linear-gradient(to right, #fff, #fff) 0px 0px/11px 2px,
    /* left top / width height */
    linear-gradient(to right, #fff, #fff) 0px 5px/15px 2px,
    linear-gradient(to right, #fff, #fff) 0px 10px/8px 2px;
  background-repeat: no-repeat;
}

.dropdown:focus .dropbtn.i2::after {
  width: 15px;
  height: 12px;
  background: linear-gradient(to right, #fff, #fff) 0px 10px/15px 2px;
  background-repeat: no-repeat;
}

/* icon x */
.dropdown-content .db3 {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 100%;
  z-index: 10;
  transition: 0.15s ease-out;
}

.dropdown-content .db3::before,
.dropdown-content .db3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60%;
  /* height icon */
  width: 2px;
  /* width icon  */
  background: #3c4043;
  /* color icon  */
}

.dropdown-content .db3::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.dropdown-content .db3::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-content .db3:hover {
  background: #d1d1d6;
}


/* Repositioning of the carousel container. */
#carouselExample {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  width: 50vw;
  height: 50vh;
  overflow: auto;
}

/*Use of a chained child selector to allow for resizing of the images within the carousel. */
.carousel > .carousel-inner > .carousel-item > img{
  width: 50vw;
  height: 50vh;
}

#ccc {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #80add6;
  width: 1200px;
  height: 657.5px;
}

/*Testing the first-child on the carousel content box. */
#ccc h1:first-child {
  text-align: center;
}

/*Testing the nth-child on the carousel content box. */
#ccc li:nth-child(2) {
  font-weight: 600;
}

/* Adjacent sibling selector for the carousel content box. */
#ccc h1 + p.adjtest {
  margin-top: 10px;
  margin-left: 20px;
}

/* Testing the General Sibling Selector for the carousel content box. */
#ccc h1 ~ ul {
  background-color: #073883;
  color: #80add6;
}